<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="loadingStation.Base.Configuration.Config.CoreLS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="loadingStation.Core.Configuration.Config.Security" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="loadingStation.Core.Configuration.Config.CoreLS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="loadingStation.Core.Configuration.Config.Modbusconfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="loadingStation.Core.Configuration.Config.Logs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="loadingStation.Core.Configuration.Config.Databaseconfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="loadingStation.Core.Configuration.Config.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="loadingStation.Core.Configuration.Config.Databaseconfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="loadingStation.Core.Configuration.Config.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
    <userSettings>
        <loadingStation.Base.Configuration.Config.CoreLS>
            <setting name="ValueNumberTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PropelerCycleTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="EmergencyBtnCycleTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CounterFillingTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="CounterWaterTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CounterCoolantTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="CoolantFillingValue" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="WaterFillingValue" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="ChangeDaysStart" serializeAs="String">
                <value>03/11/2020 11:13:00</value>
            </setting>
            <setting name="ChangeDaysEnd" serializeAs="String">
                <value>5</value>
            </setting>
        </loadingStation.Base.Configuration.Config.CoreLS>
        <loadingStation.Core.Configuration.Config.Security>
            <setting name="AllowExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowUserRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowUserChangedrum" serializeAs="String">
                <value>True</value>
            </setting>
        </loadingStation.Core.Configuration.Config.Security>
        <loadingStation.Core.Configuration.Config.CoreLS>
            <setting name="MaxMixing" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="MinMixing" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="MaxDrum" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="MinDrum" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="MaxMeasure" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="MinMeasure" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="ValueNumberTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PropelerCycleTime" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="EmergencyBtnCycleTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CounterFillingTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="CounterWaterTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="CounterCoolantTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
          <setting name="CoolantFillingValue" serializeAs="String">
            <value>5000</value>
          </setting>
          <setting name="WaterFillingValue" serializeAs="String">
            <value>10000</value>
          </setting>
            <setting name="ChangeDaysStart" serializeAs="String">
                <value>03/11/2020 11:13:00</value>
            </setting>
            <setting name="ChangeDaysEnd" serializeAs="String">
                <value>5</value>
            </setting>
        </loadingStation.Core.Configuration.Config.CoreLS>
        <loadingStation.Core.Configuration.Config.Modbusconfig>
            <setting name="ModbusDebugInput" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ModbusDebugOutput" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ModbusDebugInputPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="ModbusDebugOutputPort" serializeAs="String">
                <value>502</value>
            </setting>
        </loadingStation.Core.Configuration.Config.Modbusconfig>
        <loadingStation.Core.Configuration.Config.Logs>
            <setting name="IsLogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastlogTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveLogDuration" serializeAs="String">
                <value>50000</value>
            </setting>
        </loadingStation.Core.Configuration.Config.Logs>
        <loadingStation.Core.Configuration.Config.Databaseconfig>
            <setting name="Host" serializeAs="String">
                <value>192.168.100.251</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>sfdb</value>
            </setting>
        </loadingStation.Core.Configuration.Config.Databaseconfig>
        <loadingStation.Core.Configuration.Config.App>
            <setting name="IsDebugging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdministratorPassword" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="LastSavedLS" serializeAs="String">
                <value />
            </setting>
            <setting name="IndicatorTestOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginUseAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
           <setting name="SocketClientHost" serializeAs="String">
             <value>127.0.0.1</value> 
           </setting>
        </loadingStation.Core.Configuration.Config.App>
    </userSettings>
    <applicationSettings>
        <loadingStation.Core.Configuration.Config.Databaseconfig>
            <setting name="default_DB" serializeAs="String">
                <value>sfdb</value>
            </setting>
            <setting name="default_Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="default_Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="default_Host" serializeAs="String">
                <value>192.168.100.251</value>
            </setting>
        </loadingStation.Core.Configuration.Config.Databaseconfig>
        <loadingStation.Core.Configuration.Config.App>
            <setting name="default_AdministratorPassword" serializeAs="String">
                <value>@mdp2019</value>
            </setting>
            <setting name="default_IsDebugging" serializeAs="String">
                <value>True</value>
            </setting>
        </loadingStation.Core.Configuration.Config.App>
    </applicationSettings>
</configuration>
